.table {
  table {
    border: 1px solid black;
    border-collapse: collapse;
    tr {
      &:nth-child(even) {
        background-color: #7777;
      }
    }
    thead {
      background-color: #7777;
      th {
        border: 1px solid black;
        padding: 8px 10px;
      }
    }
    tbody {
      td {
        border: 1px solid black;
        padding: 8px 10px;
      }
    }
  }
}
