#menu-section {
  background-image: url("../../../assets/images/bg-title-page-01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;

  .menu-section {
    text-align: center;
    h1 {
      font-size: 70px;
      color: #fff;
    }
  }
}
