#products{
    padding: 2rem 0;
    background-color: teal;
    .products{
        h1{
            color: white;
            font-style: italic;
            font-size: 30px;
            text-align: center;
        }
    }
}